.curtain-menu {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  z-index: 1;
  height: 100vh;
  width: 200px;

  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
